/* LoginForm.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7ddeeb;
}

.login-frame {
    background: #f1efef;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(248, 243, 243, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
}

.login-container {
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.input-group button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 15px;
}
